<?xml version="1.0"?>
<connectionStrings>
	<!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-Visitel-20160809010444.mdf;Initial Catalog=aspnet-Visitel-20160809010444;Integrated Security=True" providerName="System.Data.SqlClient" />-->
	<!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Visitel-20160809010444.mdf;Initial Catalog=aspnet-Visitel-20160809010444;Trusted_Connection=True;Integrated Security=True" providerName="System.Data.SqlClient" />-->

	<!--<add name="DefaultConnection" connectionString="Data Source=DESKTOP-E0PAJ2O;Initial Catalog=aspnet-Visitel-20160809010444;User ID=sa;Password=Anjan@2012" providerName="System.Data.SqlClient"/>-->
	
	<add name="DefaultConnection" connectionString="Data Source=DESKTOP-E0PAJ2O;Initial Catalog=aspnet-Visitel-20160809010444;Trusted_Connection=True;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>

</connectionStrings>